.memberInfTable {
    display:table;
}

.memberInfValue {
    display:table-cell;
}

.memberInfTitle {
    display:table-cell;
    width:150px;
}

.memberInfValue {
    display:table-cell;
    width:300px;
}
