.panelBackground {
    background-color:rgba(64, 64, 128, 0.3);
}
.textDecoration {
    background-color:rgba(64, 64, 128, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 3px;
}

.memberInfPanel {
    padding-left:.6em;
    padding-right:.6em;
    padding-top:.2em;
    padding-bottom:.2em;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    display:table;
    border-radius: 5px;
    width:100%;
}
.memberInfTitle {
    display:table-cell;
    width:150px;
}
.memberInfValue {
    display:table-cell;
    width:300px;
}

.registrationPanel {
    padding-left:.6em;
    padding-right:.6em;
    padding-top:.6em;
    padding-bottom:.6em;
    display:table;
    border-radius: 5px;
    width:100%;
}
.registrationTitle {
    display:table-cell;
    width:150px;
}
.registrationValue {
    display:table-cell;
    width:80%;
}
.registrationText {
    margin-bottom: .2em;
    padding-left: 5px;
    width: 100%;
}
.registrationButtonPanel {
    float: right;
}

.inputTitle {
    display:table-cell;
    width:150px;
}
.inputValue {
    display:table-cell;
    width:80%;
}
.inputText {
    margin-bottom: .2em;
    padding-left: 5px;
    width: 100%;
}
.inputButtonPanel {
    float: right;
}

.searchPanel {
    padding-left:.6em;
    padding-right:.6em;
    padding-top:.6em;
    padding-bottom:.6em;
    display:table;
    border-radius: 5px;
    background-color:rgba(64, 64, 128, 0.3);
    width:100%;
}
.searchTitle {
    display:table-cell;
    width:150px;
}
.searchValue {
    display:table-cell;
    width:80%;
}
.searchText {
    margin-bottom: .2em;
    padding-left: 5px;
    width: 100%;
}
.searchButtonPanel {
    float: right;
}

.resultTablePanel {
    width:100%;
}
